body.toplevel_page_pda-wthrou-guide {
    overflow: hidden;
}
body.body.toplevel_page_pda-wthrou-guide#wpbody {
    position: relative;
}

body.toplevel_page_pda-wthrou-guide #update-nag,
body.toplevel_page_pda-wthrou-guide .update-nag {
    display: none;
}

.toplevel_page_pda-wthrou-guide.pda-step0:before,
.toplevel_page_pda-wthrou-guide.pda-step1:before,
.toplevel_page_pda-wthrou-guide.pda-intro:before {
    content: '';
    background: url(../images/blur-bg.png);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 9000;
}

.toplevel_page_pda-wthrou-guide #wpcontent {
    position: relative;
    z-index: 99999;
}
.toplevel_page_pda-wthrou-guide a.btn-end {

    cursor: pointer;
    text-decoration: none;
    font-style: italic;
    font-family: 'Kalam', cursive;
    font-size: 1rem;

    position: absolute;
    margin-left: 2rem;
    bottom: 1rem;
    color: grey;
}
body.toplevel_page_pda-wthrou-guide.pda-step0 a.btn-end,
body.toplevel_page_pda-wthrou-guide.pda-step1 a.btn-end {
    position: fixed;
    cursor: pointer;
    bottom: 2.5rem;
    color: white;
    margin: 0;
    padding: 0;
}

.pda-wthrou-step {
    position: fixed;
    text-align: center;
    display: none;
    font-family: 'Kalam', cursive;
    font-size: 1.1rem;
    color: white;
}
/*.pda-wthrou-step a:not(.btn-end),*/
.toplevel_page_pda-wthrou-guide a.btn-end,
.pda-wthrou-step a.btn,
.pda-wthrou-step a.btn-next,
.pda-wthrou-step a.btn-complete,
.pda-wthrou-step a.btn-prev {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 1px;
    cursor: pointer;

//background: linear-gradient(#d9e403, #b8bf15);
//margin: 0 1rem;
    letter-spacing: 1px;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}
.pda-wthrou-step a.btn-end {
    /*position: absolute;
    cursor: pointer;
    bottom: 0;
    right: 0;
    color: grey;
    text-decoration: none;
    font-size: 0.8rem;*/
}
.pda-wthrou-step a.btn,
.pda-wthrou-step a.btn-complete,
.pda-wthrou-step a.btn-next {
    background: linear-gradient(#ea520d, #d66222);
//background: #58B50B;
    box-shadow: 5px 4px 1px #b9bbb9;
}
.pda-wthrou-step a.btn-next:hover,
.pda-wthrou-step a.btn-complete:hover {
//background: #59C600; //#3E8A00;
    background: linear-gradient(#ec6f2f, #d66222);
    transition: 0.5s ease;
}
.pda-wthrou-step a.btn-prev {
    background: none;
//color: #028090; //#fb7c3e;
//color: #58B50B;
    color: #de5c1a;
    font-size: 0.9rem;

}
.pda-wthrou-step p {
    font-size: 1.2rem;
//font-style: italic;
    margin-top: 0;
}
.pda-wthrou-step h3 {
    color: #00B967; //#ff8f00;
    margin: 0 0 0.5rem 0;
    font-size: 1.8rem;
    line-height: 2.5rem;
}
.pda-wthrou-step.intro {
    top: 50%;
    left: 50%;
    display: block;
    padding-left: 0;
    background: url(../images/intro-bottom-bg.png) no-repeat left bottom/240px;
    padding-bottom: 3rem;
    transform: translate(-50%,-50%);
    max-width: 450px;
}
.pda-wthrou-step.pda-wthrou-step7 a.btn,
.pda-wthrou-step.pda-wthrou-step7 a.btn-complete,
.pda-wthrou-step.pda-wthrou-step2 a.btn-next,
.pda-wthrou-step.pda-wthrou-step1 a.btn-next,
.pda-wthrou-step.intro a.btn-next {
    box-shadow: 5px 5px 1px #434442;
}

.pda-wthrou-step.pda-wthrou-step1 {
    background: url(../images/arrow-st2-1.png) no-repeat left 2rem/100px;
    padding-left: 6rem;
    max-width: 450px;
    margin-top: 3rem;
}

.pda-wthrou-step.pda-wthrou-step2 {
    margin: 10rem 0 0 3rem;
    max-width: 600px;
}
.pda-wthrou-step.pda-wthrou-step2 h3 {
//color: #54ddec;
}
body.toplevel_page_pda-wthrou-guide.pda-step2 #wpbody {
    background: url(../images/media-step2.png) no-repeat 0 2rem /100%;
    height: 580px;
    background-size: contain;
}
.pda-wthrou-step.pda-wthrou-step3 {
    color: #6d6868;
    margin: 22rem 0 0 9rem;
}
body.toplevel_page_pda-wthrou-guide.pda-step3 #wpbody {
    background: url(../images/media-step3.png) no-repeat 0 2rem /100%;
    height: 580px;
    background-size: contain;
}

.pda-wthrou-step.pda-wthrou-step4 {
    margin: 17.5rem 0 0 7rem;
    max-width: 530px;
}
.pda-wthrou-step.pda-wthrou-step4 p {
    color: #333;
}
body.toplevel_page_pda-wthrou-guide.pda-step4 #wpbody {
    background: url(../images/media-step4.png) no-repeat 0 2rem /100%;
    height: 580px;
    background-size: contain;
}

.pda-wthrou-step.pda-wthrou-step5 {
    color: #333;
    max-width: 360px;
    margin: 17rem 0 0 20rem;
}
body.toplevel_page_pda-wthrou-guide.pda-step5 #wpbody {
    background: url(../images/media-step5.png) no-repeat 0 2rem /100%;
    height: 580px;
    background-size: contain;
}

.pda-wthrou-step.pda-wthrou-step6 {
    color: #333;
    max-width: 550px;
    margin: 20.5rem 0 0 6rem;
}
body.toplevel_page_pda-wthrou-guide.pda-step6 #wpbody   {
    background: url(../images/media-step6.png) no-repeat 0 2rem /100%;
    height: 580px;
    background-size: contain;
}

.pda-wthrou-step.pda-wthrou-step7 {
    margin: 7rem 0 0 5rem;
}
body.toplevel_page_pda-wthrou-guide.pda-step7 #wpbody   {
    background: url(../images/media-step7.png) no-repeat 0 2rem /100%;
    height: 580px;
    background-size: contain;
}
.pda-wthrou-step.pda-wthrou-step7 ul {
    list-style-type: circle;
    margin: 0 0 2rem 1rem;
    text-align: left;
}
.pda-wthrou-step.pda-wthrou-step7 ul a {
    color: white;
    text-decoration: none;
}
.pda-wthrou-step.pda-wthrou-step7 ul a:hover {
    text-decoration: underline;
}

.toplevel_page_pda-wthrou-guide #adminmenu:before {
    background: #23282d url(../images/ad-menu-intro.png) no-repeat top left;
    content: '';
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 100%;
}
.toplevel_page_pda-wthrou-guide .pda-wthrou-step.intro#adminmenu:before {
    background-image: url(../images/admin-menu-intro.png);
}
.toplevel_page_pda-wthrou-guide.pda-step1 #adminmenu:before {
    background-image: url(../images/ad-menu-step-1.png);
}
.toplevel_page_pda-wthrou-guide.pda-step7 #adminmenu:before,
.toplevel_page_pda-wthrou-guide.pda-step6 #adminmenu:before,
.toplevel_page_pda-wthrou-guide.pda-step5 #adminmenu:before,
.toplevel_page_pda-wthrou-guide.pda-step4 #adminmenu:before,
.toplevel_page_pda-wthrou-guide.pda-step3 #adminmenu:before,
.toplevel_page_pda-wthrou-guide.pda-step2 #adminmenu:before {
    background-image: url(../images/admin-menu-step2.png);
}
.sticky-menu #adminmenuwrap {
    height: 100%;
}

#wpbody-content .wrap h2, #pda_right_column_metaboxes {
    display: none;
}

.toplevel_page_pda-wthrou-guide.pda-step7 .btn-end {
    display: none;
}