#pda_v3_protection_toggle,
.js .js-visuallyhidden,
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

#pda_v3_protection_metabox .inside {
    position: static
}

#pda_v3_protection_metabox p.pda-v3-permission-select {
    margin: 0 0 3.5em!important;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    -webkit-transition: .5s opacity, .5s .1s max-height;
    transition: .5s opacity, .5s .1s max-height
}

.pda-v3-protection-toggle {
    /*position: absolute;*/
    left: 0;
    right: 0;
    bottom: 0;
    /*padding: 1em 15px*/
}

.pda-v3-protection-toggle .pdav3-on {
    width: 100%;
    text-align: center
}

.pda-v3-protection-toggle .pdav3-off {
    display: none;
    color: red
}

.pda-v3-protection-toggle .pdav3-off:after,
.pda-v3-protection-toggle .pdav3-on:after {
    content: attr(data-pdav3-content);
    speak: none
}

#pda_v3_protection_toggle:checked~p.pda-v3-permission-select,
p.pda-v3-permission-select.pda-v3-active {
    margin-bottom: 4.2em!important;
    max-height: 100px;
    opacity: 1;
    -webkit-transition: .3s .1s opacity, .5s max-height ease-out;
    transition: .3s .1s opacity, .5s max-height ease-out
}

#pda_v3_protection_toggle:checked+.pda-v3-protection-toggle {
    border-top: 1px solid #dfdfdf;
    -webkit-box-shadow: inset 0 1px #fff;
    box-shadow: inset 0 1px #fff
}

#pda_v3_protection_toggle:checked+.pda-v3-protection-toggle .pdav3-on {
    display: none
}

#pda_v3_protection_toggle:checked+.pda-v3-protection-toggle .pdav3-off {
    display: block
}

.pdav3_mp6 #pda_v3_protection_metabox p.pda-v3-permission-select,
.mp6 #pda_v3_protection_metabox p.pda-v3-permission-select {
    margin-bottom: 2.7em!important
}

.pdav3_mp4 .pda-v3-protection-toggle .pdav3-off,
.mp6 .pda-v3-protection-toggle .pdav3-off {
    color: #a00;
    border-bottom: 0
}

.pdav3_mp4 .pda-v3-protection-toggle .pdav3-off:active,
.pdav3_mp4 .pda-v3-protection-toggle .pdav3-off:focus,
.pdav3_mp4 .pda-v3-protection-toggle .pdav3-off:hover,
.mp6 .pda-v3-protection-toggle .pdav3-off:active,
.mp6 .pda-v3-protection-toggle .pdav3-off:focus,
.mp6 .pda-v3-protection-toggle .pdav3-off:hover {
    color: red
}

.pdav3_mp4 #pda_v3_protection_toggle:checked~p.pda-v3-permission-select,
.pdav3_mp4 p.pda-v3-permission-select.pda-v3-active,
.mp6 #pda_v3_protection_toggle:checked~p.pda-v3-permission-select,
.mp6 p.pda-v3-permission-select.pda-v3-active {
    margin-bottom: 2.4em!important
}

.pdav3_mp4 #pda_v3_protection_toggle:checked+.pda-v3-protection-toggle,
.mp6 #pda_v3_protection_toggle:checked+.pda-v3-protection-toggle {
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

#pda_loader {
    top: 50px;
    display: inline-block;
    border: 5px solid #000000;
    border-radius: 50%;
    border-top: 5px solid #EEEEEE;
    width: 10px;
    height: 10px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.pda_v3_wrap_file_access_permission {
    margin-top: 10px;
}